html {
    background: linear-gradient(to bottom, #f4f4f4, #e6e9ec);
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 2% 0; /* Added top and bottom padding */
    background: linear-gradient(to bottom, #f4f4f4, #e6e9ec);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#mainHeader #mainLogo {
    width: 300px;  /* or whatever width you desire for the main logo */
    height: auto;  /* maintain the aspect ratio */
    display: block; /* centers the image if h1 text-align is centered */
    margin: 0 auto; /* centers the image */
}

/* Hide mobile logo by default */
#logoMobile {
    display: none;
}
/* Media query to switch logos based on screen size */
@media (max-width: 800px) {
    #logo {
        align-items: center; /* Center children elements */
        display: none;
    }
    #logoMobile {
        align-items: center; /* Center children elements */
        display: block;
    }
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    color: #333;
    margin-top: 20px; /* Reduced margin-top */
    font-weight: 600;
    transform: translateY(10px);
    transition: opacity 1s, transform 1s;
}

p {
    color: #666;
    font-weight: 300;
    transform: translateY(-10px);
    transition: opacity 1s, transform 1s;
    margin-left: 10px;
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    padding: 20px 40px; 
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%; /* Increased from 60% to 80% */
    max-width: 600px; /* New addition: set a maximum width */
}


/* Generic table styling */
.table-container {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f2f4f7;
}

table, .styled-table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #e0e0e0;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #f7f9fc;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tbody tr {
    transition: background-color 0.3s ease;
}

tbody tr:nth-child(odd) {
    background-color: #f9fafc;
}

tbody tr:hover {
    background-color: #e6ebf1;
}


/* Responsive design: If the screen width is 600px or less, make the tables 95% width */
@media (max-width: 600px) {
    table {
        font-size: 0.8em;
        width: 90%;
    }
    th, td {
        padding: 8px 10px;
    }
}

#addressInput {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 85%;
    margin: 0 auto; /* Center the input field */
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black; 
    opacity: 1; 
}
/* Responsive styles for smaller screen widths */
@media (max-width: 800px) {
    form {
        width: 85%;
        margin: 0 auto; /* Center the input field */
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #addressInput {
        font-size: 14px; 
    }
}
/* Responsive design: If the screen width is 600px or less, adjust styles for mobile */
@media (max-width: 600px) {
    h1 {
        font-size: 1.8em; /* Adjust font size for headers */
    }
    p {
        font-size: 0.85em; /* Adjust font size for paragraphs */
    }    
    /* Add some margins around the text to make it look better */
    p, h1, table {
        margin-left: 5px;
        margin-right: 5px;
    }
    #addressInput {
        font-size: 0.9em; /* Adjust font size for the input field */
        width: 90%;
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
    }
}


/* TESTING */

.primaryResponse {
    padding: 20px; 
    margin: 20px auto; 
    max-width: 70%; /* Responsive width */
    border: 1px solid #d1d9e6;
    border-radius: 8px; 
    background-color: #f7f9fc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    overflow: hidden; 
    font-size: 16px; /* Default font size */
    color: #757575; /* Lighter grey font color */
    white-space: pre-wrap; /* Wrap text and preserve spaces */
    word-break: break-word; /* Break long words if needed */
    overflow-wrap: break-word; /* Prefer breaking at the end of words */
}
/* Hover effect for non-touch devices */
@media (hover: hover) {
    .primaryResponse:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
}
/* Smaller devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .primaryResponse {
        max-width: 90%; /* Responsive width */
        padding: 15px; /* Reduced padding */
        margin: 10px auto; /* Reduced margin */
        font-size: 14px; /* Smaller font size */
    }
}
/* Tablets and smaller desktops */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .primaryResponse {
        max-width: 90%; /* Responsive width */
        padding: 18px; /* Slightly larger padding than mobile */
        margin: 15px auto; /* Slightly larger margin than mobile */
        font-size: 14px; /* Slightly larger font size than mobile */
    }
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #4678dc;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #044b98;
}

:root {
    /* Default blue hue */
    --hue: 220; 

    /* Computed colors */
    --primary-color: hsl(var(--hue), 60%, 80%); 
    --accent-color: hsl(var(--hue), 100%, 30%); 
    --hover-color: hsl(var(--hue), 100%, 20%); 
}

#menuBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 2px solid var(--accent-color);
}

#menuBar #logo {
    width: 125px;  /* or whatever width you desire */
    height: auto;  /* maintain the aspect ratio */
    display: block; /* to handle vertical spacing better */
    margin-left: 10px;
}

#menuBar #logoMobile {
    width: 75px;  /* or whatever width you desire for the mobile logo */
    height: auto;  /* maintain the aspect ratio */
    display: none; /* by default, hide it if you plan to show it only on smaller screens */
    margin-left: 10px;
}

/* If you are planning to show the mobile logo on smaller screens using media queries: */
@media only screen and (max-width: 768px) { /* or whatever breakpoint you use for mobile */
    #menuBar #logo {
        display: none;
    }

    #menuBar #logoMobile {
        display: block;
    }
}

footer {
    padding: 5px 5px;
    background-color: var(--primary-color);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 0.8em;
    border-top: 2px solid var(--accent-color);
}

footer a {
    color: var(--accent-color);
    text-decoration: none;
    padding: 0 5px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--hover-color);
}

/* UNUSED: */
.loading {
    display: none;
    font-weight: 700;
    color: #007BFF;
    position: relative;
    padding-left: 50px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px; /* Half of height */
    border: 4px solid rgba(0, 123, 255, 0.2);
    border-top-color: #007BFF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.loading::after {
    content: '...';
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

#tryAgainButton {
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    width: 300px;
    padding: 5px 10px;
    font-weight: 500;
    background-color: #1f54b0;
    color: #ffffff;
    opacity: 1;
    border-radius: 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.unitCalculationText {
    font-weight: 300;
    color: #666;
}

/* Slider styling */
.slider {
    width: 80%;
    max-width: 400px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}
.slider:hover {
    opacity: 1;
}
/* Style for the slider */
input[type="range"] {
    width: 80%;
    max-width: 500px;
    margin: 15px 0;
    cursor: pointer;
}

/* Style for the checkboxes */
label {
    display: block;
    margin: 10px 0;
}

.sizeInput {
    width: 80%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Disable style for input fields */
input:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Google Map container */
#map {
    width: 100%;                 /* Take up the full width of its container */
    height: 40vh;                /* Make it shorter vertically; adjust as needed */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);   /* Slight shadow underneath */
    position: relative;
    top: 0px;                  /* Push it down by 0 pixels; adjust as needed */
    z-index: 1;                 /* Ensure it's on top of other content */
    transition: opacity 1s, transform 0.2s;
    border-radius: 0;           /* Remove border radius for full edge-to-edge look */
    opacity: 0;                   /* Initial opacity */
    animation: fadeInSlideDown 0.2s forwards; /* Apply the animation; it runs for 1 second and the "forwards" value ensures the end state of the animation is retained */

    /* Desktop specific styles */
    @media (min-width: 768px) { /* Adjust breakpoint as needed */
        /* max-width: 1500px; */     /* Limit maximum width for large screens */
        margin: 0 auto;        /* Center the map if its width is less than the container's width */
    }

    /* Mobile specific styles */
    @media (max-width: 767px) {
        height: 30vh;          /* Adjust height for mobile; change as needed */
    }
}


#eligibilityStatus {
    display: none;
    width: 80%;
    max-width: 1200px;
    margin: 2% auto;
    padding: 1em 2em;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(14, 9, 88);
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    font-family: 'Arial', sans-serif;
}
#eligibilityStatus ul {
    list-style-type: none;
    padding-left: 0;
}
.char {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    transition: all 0.3s;
}

#eligibilityStatus li {
    color: #555;
    margin-bottom: 10px;
}


.loading-container {
    display: none;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.animated-text {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    font-weight: 400;
}

.animated-text .char {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
    display: inline-block; /* ensures each char animates individually */
    white-space: pre; /* preserve spaces */
}

.animated-text .char.show {
    opacity: 1;
}

.spinner {
    width: 20px;
    height: 20px;
    margin: 0 auto 10px; /* centering and giving space below */
    border: 4px solid rgba(0, 123, 255, 0.2);
    border-top-color: var(--accent-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading-text {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.loading-bar {
    position: relative;
    width: 80%;
    height: 30px;
    background-color: rgba(0, 123, 255, 0.2);
    border-radius: 15px;
    margin: 0 auto; /* centering */
}

.loading-fill {
    height: 100%;
    width: 0%; /* will be modified by JavaScript */
    background-color: var(--accent-color);
    border-radius: 15px;
}

.loading-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.slide-in {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.slide-in.active {
    opacity: 1;
    transform: translateX(0);
}

#infoSections {
    text-align: left;
    font-size: 0.6em;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

#infoSections h2 {
    text-align: center;
    font-size: 1.0em;
    margin-bottom: 7px;
}

#infoSections ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#infoSections ul li {
    margin-bottom: 5px;
    padding-left: 10px;
    background: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBvbHlnb24gcG9pbnRzPSI1LDIgMiw1IDUsOCIgc3R5bGU9ImZpbGw6YmxhY2siLz48L3N2Zz4=) no-repeat;
    background-position: 0 50%;
    background-size: 10px;
}

.switchContainer {
    display: flex;
    /* align-items: center;*/ /* This will vertically center align the text and the switch */
}

.switchBox {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
    margin-right: 10px; /* This will add some spacing between the switch and the text */
}
  
.switchBox input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.toggle:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .toggle {
    background-color: #2196F3;
}
  
input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .toggle:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}
 
/* Rounded toggles */
.toggle.round {
    border-radius: 17px;
}
  
.toggle.round:before {
    border-radius: 50%;
}

.nav-buttons {
    text-align: center;
    margin: 20px 0;
}

.fancy-button {
    display: inline-block;
    background-color: #0b378a;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.fancy-button:hover {
    background-color: #0f44a7;
    transform: translateY(-5px);
}

.fancy-button:active {
    transform: translateY(0);
}

.form-group {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table th, .styled-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.styled-table thead {
    background-color: #f5f5f5;
}

/* Integrate the .styled-table class */
table, .styled-table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
}