html {
    background: linear-gradient(to bottom, #f4f4f4, #e6e9ec);
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 2% 0; /* Added top and bottom padding */
    background: linear-gradient(to bottom, #f4f4f4, #e6e9ec);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    color: #333;
    margin-top: 20px; /* Reduced margin-top */
    font-weight: 700;
}

p {
    color: #666;
    font-weight: 300;
    transform: translateY(-10px); /* Reduced the translateY amount */
    transition: opacity 1s, transform 1s;
}

form {
    background: #fff;
    padding: 20px 40px; /* Adjusted padding */
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 60%; /* Added width to control form size */
}

table {
    width: 80%; /* Adjusted width */
    border-collapse: collapse;
    margin: 20px 0; /* Added margin */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#addressInput {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black; /* Force black text color */
    opacity: 1; /* Made it fully visible */
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #4678dc;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #044b98;
}

#menuBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background-color: #afc6ed;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menuBar a:first-child {
    margin-left: 20px;
    cursor: pointer;
}

#menuBar a:last-child {
    margin-right: 20px;
    cursor: pointer;
}

#sunIcon {
    display: inline-block;
    background-color: #2b18b8;
    border-radius: 50%;
    width: 50x;
    height: 50px;
    position: relative;
}

#sunIcon::before {
    content: "☀️";
    font-size: 2.0em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    padding: 20px;
    background-color: #afc6ed;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 2.0em;
}

footer a {
    color: #044b98;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.loading {
    display: none;
    font-weight: 700;
    color: #007BFF;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading::after {
    content: ' ...';
    animation: spin 1s infinite;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.imageContainer p {
    margin-top: 10px;
    font-size: 0.9rem;
}

.imageItem {
    width: calc(50% - 2%);
    margin: 1% 1%;
    text-align: center;
    box-sizing: border-box;
}

.imageItem img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#calculateUnitsButton {
    width: auto;
    padding: 5px 10px;
    background-color: #4c85cf;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1; /* Made it fully visible */
}

#tryAgainButton {
    font-weight: 500;
    background-color: #92b8fa;
    color: #333;
    margin-top: 20px;
    width: 400px;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1; /* Made it fully visible */
}

.unitCalculationText {
    font-weight: 300;
    color: #666;
}

.bedroomTypeInputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.bedroomTypeInputGroup label {
    flex-basis: 30%;
    text-align: right;
    margin-right: 1em;
}

.bedroomTypeInputGroup input {
    flex-basis: 8%;
    margin-right: 1em;
    text-align: right;
}

.bedroomTypeInputGroup input::after {
    content: '%';
    position: absolute;
    margin-left: 5px;
}

.bedroomTypeInputGroup span {
    flex-basis: 20%;
}
